In [38]:
#Importing Libraries

import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import scipy.stats as st

In [39]:
shot_l = pd.read_csv('https://raw.githubusercontent.com/ThomasFJones/ASL-Analysis/main/shotlength.csv')
imdb_movie = pd.read_csv('http://whynoidonthaveadegree.com/datasets/IMDb_movies.csv', low_memory=False)

In [40]:
imdb_movie.dtypes

imdb_title_id             object
title                     object
original_title            object
year                      object
date_published            object
genre                     object
duration                   int64
country                   object
language                  object
director                  object
writer                    object
production_company        object
actors                    object
description               object
avg_vote                 float64
votes                      int64
budget                    object
usa_gross_income          object
worlwide_gross_income     object
metascore                float64
reviews_from_users       float64
reviews_from_critics     float64
dtype: object

In [85]:

imdb = imdb_movie.drop(columns = ['title','date_published','writer','production_company', 'actors', 'description'])
imdb.head()

,imdb_title_id,original_title,year,genre,duration,country,language,director,avg_vote,votes,budget,usa_gross_income,worlwide_gross_income,metascore,reviews_from_users,reviews_from_critics
0,tt0000009,Miss Jerry,1894,Romance,45,USA,None,Alexander Black,5.9,154,NaN,NaN,NaN,NaN,1.0,2.0
1,tt0000574,The Story of the Kelly Gang,1906,"Biography, Crime, Drama",70,Australia,None,Charles Tait,6.1,589,$ 2250,NaN,NaN,NaN,7.0,7.0
2,tt0001892,Den sorte drøm,1911,Drama,53,"Germany, Denmark",NaN,Urban Gad,5.8,188,NaN,NaN,NaN,NaN,5.0,2.0
3,tt0002101,Cleopatra,1912,"Drama, History",100,USA,English,Charles L. Gaskill,5.2,446,$ 45000,NaN,NaN,NaN,25.0,3.0
4,tt0002130,L'Inferno,1911,"Adventure, Drama, Fantasy",68,Italy,Italian,"Francesco Bertolini, Adolfo Padovan",7.0,2237,NaN,NaN,NaN,NaN,31.0,14.0

In [50]:
imdb = imdb.loc[(imdb['year'] >= '1950') & (imdb['year'] <= '2009') & (imdb['country'] == 'USA')]

In [86]:
imdb.rename(columns = {'original_title':'Title'}, inplace = True)
imdb.rename(columns = {'year':'Year'}, inplace = True)

In [91]:
##
##imdb.loc[imdb['Year'] == 'TV Movie 2019']
##imdb = imdb.drop(83917)
imdb['Year'] = imdb['Year'].astype('int64')

In [92]:
shot_l['Country'] = shot_l['Country'].str.rstrip()
shot_l['Title'] = shot_l['Title'].str.rstrip()

In [93]:

mergetest = pd.merge(shot_l, imdb, on = ['Title', 'Year'], how = 'inner' )

In [95]:
mergetest.shape

(5269, 19)

In [99]:
mergetest.head(10)
mergetest.to_csv("merged.csv")