<a href="https://colab.research.google.com/github/ThomasFJones/ASL-Analysis/blob/main/Data_Storytelling_Project.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
#Importing Libraries

import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [57]:

# !rm shotlength.csv
# For uploading files if needed.
# from google.colab import files
# uploaded = files.upload()

In [ ]:
#Import Data
shot_l = pd.read_csv('https://raw.githubusercontent.com/ThomasFJones/ASL-Analysis/main/shotlength.csv')
imdb_movie = pd.read_csv('http://whynoidonthaveadegree.com/datasets/IMDb_movies.csv', low_memory=False)

In [ ]:
#Data Cleaning - Trailing spaces must be removed

In [ ]:
shot_l['Country'] = shot_l['Country'].str.rstrip()
shot_l['Title'] = shot_l['Title'].str.rstrip()

In [ ]:
# Singling out USA data and removing unneeded data.
shot_usa = shot_l.loc[shot_l['Country'] == 'USA']
slim_usa = shot_usa.drop(columns = ['Title','Director'])

In [ ]:
# See if shotlength and imdb can be merged

##print(shot_usa.shape)
##print(imdb_movie.shape)
##imdb_movie.rename(columns = {'title':'Title'}, inplace = True)
##mergetest = pd.merge(shot_usa, imdb_movie, on = ['Title'], how = 'inner' )
##print(mergetest.shape)

In [137]:
# This was just a first attempt to get a sense of the data
#print(slim_usa['ASL'].loc[(slim_usa['Year'] >= 1940) & (slim_usa['Year'] <= 1949)].std())
#print(slim_usa['ASL'].loc[(slim_usa['Year'] >= 1950) & (slim_usa['Year'] <= 1959)].std())
#print(slim_usa['ASL'].loc[(slim_usa['Year'] >= 1960) & (slim_usa['Year'] <= 1969)].std())
#print(slim_usa['ASL'].loc[(slim_usa['Year'] >= 1970) & (slim_usa['Year'] <= 1979)].std())
#print(slim_usa['ASL'].loc[(slim_usa['Year'] >= 1980) & (slim_usa['Year'] <= 1989)].std())
#print(slim_usa['ASL'].loc[(slim_usa['Year'] >= 1990) & (slim_usa['Year'] <= 1999)].std())
#print(slim_usa['ASL'].loc[(slim_usa['Year'] >= 2000) & (slim_usa['Year'] <= 2009)].std())


#print(slim_usa.loc[slim_usa['Year'] == 1950].mean())
#print(slim_usa.loc[slim_usa['Year'] == 1960].mean())
#print(slim_usa.loc[slim_usa['Year'] == 1970].mean())
#print(slim_usa.loc[slim_usa['Year'] == 1980].mean())
#print(slim_usa.loc[slim_usa['Year'] == 1990].mean())
#print(slim_usa.loc[slim_usa['Year'] == 2000].mean())
#print(slim_usa.loc[slim_usa['Year'] == 2010].mean())

##for index, row in slim_usa.iterrows():
##  print(slim_usa['Year'])
## 1950 1950	10.944189	3.693085
graph_ready = slim_usa.groupby(['Year']).agg(['mean','std'])
graph_ready.head(5)

            ASL
           mean       std
Year
1913   9.300000  2.251666
1914  12.616667  6.018444
1915  12.129412  3.710250
1916   8.084615  1.537230
1917   6.965000  1.967171